*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --black: black;
    --white: white;
}

.container__title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #F4F5F7;
}

.title{
    margin-right: 15px;
    cursor: pointer;
    font-size: 1.4em;
    font-weight: 400;
    font-style: oblique;
}

.dropdown{
    border: none;
    background-color: var(--white);
    margin: 5px 0 0 15px;
    cursor: pointer;
}

.dropdown img{
    width: 35px;
    height: 35px;
}

.nav__container{
    height: 110vh;
    width: 90vw;
    position: absolute;
    top: 0;
    transform: translate(-100%);
    background-color: var(--white);
    border-right: 2px solid black;
    transition: .5s;
}

.visible__nav{
    transform: translate(0);
}

.list{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 25px;
}

.list__item{
    list-style: none;
    width: 100%;
    overflow: hidden;
    font-size: 1.2em;
    font-weight: 500;
}

.arrow .list__arrow{
    transform: rotate(0deg);
}

.list__item--click{
    cursor: pointer;
}

.list__button{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin: 0;
    justify-content: space-between;
}

.list__arrow{
    margin-right: 25px;
    transform: rotate(-90deg);
    cursor: pointer;
    transition: transform .3s;
}

.nav__link{
    color: #303440;
    display: block;
    padding: 15px 0;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}

.list__show{
    width: 80%;
    padding-left: 35px;
    margin-left: 15px;
    border-left: 2px solid #303440;
    list-style: none;
    transition: height .4s;
    height: 0;
}

.nav__link--inside{
    border-radius: 6px;
    padding-left: 20px;
}

.nav__link--inside:hover{
    background-color: #f6f8fA;
}

.container_closemenu{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    border-bottom: 2px solid #F4F5F7;
}

.close__menu{
    width: 25px;
    margin: 15px 15px;
    right: 20px;
    cursor: pointer;
}

.icons{
    width: 35px;
    height: 35px;
    margin: 5px 15px 0 0;
    cursor: pointer;
}

.container__hero{
    height: 1000vh;
}
